<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>List of Users</title>
</head>
<body>
<div class="col-md-offset-2 col-sm-8">
    <h2>List of Users</h2>
    <form th:action="@{/register}" method="get">
        <div align="right">
            <input class="btn-info btn-lg" type="submit" value="Register new User">
        </div>
    </form>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Id</th>
            <th scope="col">Full name</th>
            <th scope="col">E-mail</th>
            <th scope="col" colspan="2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iStat: ${users}">
            <th scope="row" th:text="${iStat.index + 1}"/>
            <td th:text="${user.id}"/>
            <td>
                <a th:href="@{|/users/${user.id}/read|}" th:text="${user.firstName + ' ' + user.lastName}"/>
            </td>
            <td th:text="${user.email}"/>

            <td>
                <a th:href="@{|/users/${user.id}/update|}">Edit</a>
            </td>
            <td>
                <a th:href="@{|/users/${user.id}/delete|}">Remove</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>