<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Title</title>
</head>
<body>
<div class="col-md-offset-2">
  <div>
    <h2>Info about User</h2>
    <table class="table">
      <tr>
        <td>Id:</td>
        <td>
          <b th:text="${user.id}"></b>
        </td>
      </tr>
      <tr>
        <td>First name:</td>
        <td>
          <b th:text="${user.firstName}"></b>
        </td>
      </tr>
      <tr>
        <td>Last name</td>
        <td>
          <b th:text="${user.lastName}"></b>
        </td>
      </tr>
      <tr>
        <td>E-mail:</td>
        <td>
          <b th:text="${user.email}"></b>
        </td>
      </tr>
      <tr>
        <td>Role:</td>
        <td>
          <b th:text="${user.role}"></b>
        </td>
      </tr>
    </table>
    <div>
      <a th:href="@{|/users/${user.id}/update|}">Edit</a>
      <a th:href="@{|/users/${user.id}/delete|}">Remove</a>
    </div>
  </div>
</div>
</body>
</html>